* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Фон, шрифты, переменные */

.dark-theme {
    /* Фон и текст */
    --main-bg: black;
    --main-text-color: white;

    --border-color: white;
    
    --theme-button-color: transparent;
    --theme-border-color: white;
    --box-shadow-color: rgba(255, 255, 255, 0.422);

    --bg-color-modal: rgb(42, 42, 42);

    transition: all .3s linear;
}

.white-theme {
    --main-bg: rgb(185, 237, 255);
    --main-text-color: rgb(6, 45, 60);

    --border-color: rgb(0, 57, 85);
    
    --theme-button-color: transparent;
    --theme-border-color: rgb(0, 37, 49);
    --box-shadow-color: rgba(12, 211, 255, 0.422);

    --bg-color-modal: rgb(165, 219, 255);

    transition: all .3s linear;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

body { 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background-color: var(--main-bg);
    color: var(--main-text-color)
}


.header {
    padding: 0 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.theme {
    padding: 10px 20px;
    color: var(--main-text-color);
    background-color: var(--theme-button-color);
    border-radius: 10px;
    border: 1px solid var(--theme-border-color);
    cursor: pointer;
    font-weight: 600;
    transition: all .4s ease-in-out;
}

.theme:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 20px var(--box-shadow-color) ;
}

.numbers {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.numbers > .number {
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    cursor: pointer;
    font-size: 60px;
    transition: transform .2s ease-in-out;
}

.number:hover {
    transform: translateY(-10px);
    box-shadow: 2px 1px 15px var(--box-shadow-color);
}


/* Модальные окна */

.start-modal {
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color-modal);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    height: 400px;
    width: 600px;
    z-index: 3;
    transition: all .3s ease-in-out;
}

.open-modal {
    left: 50%;
}

.close-button-modal {
    padding: 5px;
    position: absolute;
    left: 95%;
    cursor: pointer;
    z-index: 3;
}

.start {
    text-align: center;
    margin-top: 8rem;
}

.answer_counter {
    padding: 0 20px;
}


.lose-modal {
    position: absolute;
    top: 0;
    left: 0;
}